body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 248, 251)
}
.contact-box {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    color: #d84315;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d84315;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #bf360c;
}
a href {
    width: 100%;
    padding: 10px;
    background-color: #d84315;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}